# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Large model files (optional)
*.h5
*.keras

# Dataset (optional if too large)
dataset/
